
<div class="homepage">
	<section class="full-width topper">
	</section>
	<section class="full-width whoisthis">
		<div class="sectional table-cell about-me" id="about">
			<h2 class="about-head">
				Aaron Groch: Your Friendly Neighborhood Web-Developer
			</h3>
			<div>
			<p>
				Hi, my name's Aaron and I want to help you and your company make a fun and informative corner of the Internet for your customers to visit! Let's work together to make your corner of the Web innovative, eye-catching, and fun!
			</p>
			<h5>First a lil' bit about me:</h5>
			<p>
				I live in Atlanta, Georgia with my wife, soon-to-come baby, and our three cats. I am originally from California, but have lived here in ATL for three years, and have also made my home in South Carolina, Morroco and Dubai!
			</p>
			<p>
				I love travelling, geography (see the link to my Sporcle geography quizes below, as well as my own geo-quiz web app on this site), and cooking.
			<p>
				Learn more about my web development and design skills further down the page.
			</p>
			<p class="centerplease">Find me on LinkedIn, Twitter and more:</p>
			<p class="centerplease">
				<a href="http://www.linkedin.com/pub/aaron-groch/8/6b3/225/" target="_blank">
					<%= image_tag('linkedin-icon.png', :alt => 'linkedin', :class => 'social-media-logos') %>
				</a>
				<a href="https://twitter.com/doctor_khateer" target="_blank">
					<%= image_tag('twitter-logo-transparent.png', :alt => 'twitter', :class => 'social-media-logos') %>
				</a>
				<a href="https://www.flickr.com/photos/30793984@N08/" target="_blank">
					<%= image_tag('flickr-logo-rounded.png', :alt => 'flickr', :class => 'social-media-logos') %>
				</a>
				<a href="http://www.sporcle.com/user/doctor_khateer/contributed" target="_blank">
					<%= image_tag('sporcle-transparent.png', :alt => 'sporcle', :class => 'social-media-logos') %>
				</a>
			</p>
			</div>
		</div>
	</section>
	<section class="full-width whereimcallingfrom" id="background">
		<div class="sectional table-cell centerplease">
			<p>
				This site wouldn't exist if it wasn't for my time at <br />
				<a href="http://techtalentsouth.com/">
					<%= image_tag('tts-logo.png', :alt => 'tech talent south', :class => 'web-logos') %>
				</a>
			</p>
			<p>

			</p>
		</div>
	</section>
	<section class="full-width whaticando" id="webdesign">
		<div class="sectional">
			<div class="centerplease marg-bot">
				I specialize in creating web sites and web apps with the following:
			</div>
			<div class="web-langs"> 
				<%= image_tag('ror-logo-no-bg.png', :alt => 'ruby on rails', :class => 'web-logos') %><br />
				Ruby on Rails
			</div>
			<div class="web-langs"> 
				<%= image_tag('html5-logo.png', :alt => 'html5', :class => 'web-logos') %><br />
				HTML/HTML5
			</div>
			<div class="web-langs"> 
				<%= image_tag('css3-logo.png', :alt => 'css3', :class => 'web-logos') %><br />
				CSS/CSS3
			</div>
			<div class="web-langs">
				<%= image_tag('js-logo-semiofficial.jpg', :alt => 'javascript', :class => 'web-logos') %><br />
				JavaScript/jQuery
			</div>
			<div class="centerplease marg-top">
				But I also have experience with: WordPress, PHP, AngularJS, SQL, and AJAX
			</div>
		</div>
	</section>
	<section class="full-width thesethingsihathwrought" id="sampapps">
		<div class="bottom-section">

			 	<div class="marta-cell">
					<a href="http://marta-app.herokuapp.com" target="_blank">
						<%= image_tag('marta-icon.png', :alt => 'marta app', :class => 'metro-icon', :id => 'marta') %>	
					</a>
				</div>
				<div class="globe-cell">
					<a href="http://globeknow.herokuapp.com" target="_blank">
						<%= image_tag('globe-icon.png', :alt => 'geo quiz app', :class => 'app-icons', :id => 'globey') %>
					</a>
				</div>
			<div class="cart-cell">
				<a href="http://nile-cats.herokuapp.com" target="_blank">
					<%= image_tag('cart-icon.png', :alt => 'ecommerce app', :class => 'app-icons', :id => 'nile') %>
				</a>
			</div>

		</div>
	</section>
</div>