
<div class="homepage">
	<section class="full-width whoisthis">
		<div class="sectional table-cell about-me" id="about">
			<h2 class="about-head">
				Aaron Groch: Your Friendly Neighborhood Web-Developer
			</h3>
			<div>
			<p>
				Hi, my name's Aaron and I want to help you and your company increase their presence on the Internet. Let's work together to make your corner of the Web innovative, eye-catching, and fun!
			</p>
			<h5>First a lil' bit about me:</h5>
			<p>
				I live in Atlanta, Georgia with my wife, soon-to-come baby, and our three cats. I am originally from California, but have lived here in ATL for three years, and have also made my home in South Carolina, Morroco and Dubai!
			</p>
			<p>
				I love travelling, geography (see the link to my Sporcle geography quizes below, as well as my own geo-quiz web app on this site), and cooking.
			<p>
				Learn more about my web development and design skills further down the page.
			</p>
			<p class="centerplease">Find me on LinkedIn, Twitter and more:</p>
			<p class="centerplease">
				<a href="http://www.linkedin.com/pub/aaron-groch/8/6b3/225/" target="_blank">
					<%= image_tag('linkedin-icon.png', :alt => 'linkedin', :class => 'social-media-logos') %>
				</a>
				<a href="https://twitter.com/doctor_khateer" target="_blank">
					<%= image_tag('twitter-logo-transparent.png', :alt => 'twitter', :class => 'social-media-logos') %>
				</a>
				<a href="https://www.flickr.com/photos/30793984@N08/" target="_blank">
					<%= image_tag('flickr-logo-rounded.png', :alt => 'flickr', :class => 'social-media-logos') %>
				</a>
				<a href="http://www.sporcle.com/user/doctor_khateer/contributed" target="_blank">
					<%= image_tag('sporcle-transparent.png', :alt => 'sporcle', :class => 'social-media-logos') %>
				</a>
			</p>
			</div>
		</div>
	</section>
	<section class="full-width whereimcallingfrom" id="background">
		<div class="sectional table-cell">
			<p>
				Intently stare at the same spot behind the couch and inspect anything brought into the house or stand in front of the computer screen. Make muffins inspect anything brought into the house, and hide when guests come over behind the couch stare at ceiling, so play time for leave dead animals as gifts. Intrigued by the shower leave hair everywhere swat at dog leave dead animals as gifts, chew iPad power cord, so hunt anything that moves. Behind the couch chew iPad power cord so chase imaginary bugs or hopped up on goofballs sweet beast and burrow under covers climb leg. Claw drapes chew foot chew iPad power cord for inspect anything brought into the house or inspect anything brought into the house for make muffins. Claw drapes cat snacks for hide when guests come over make muffins yet destroy couch. Shake treat bag sweet beast intently stare at the same spot why must they do that but mark territory missing until dinner time so destroy couch. Stretch hide when guests come over. Intrigued by the shower intently stare at the same spot or intrigued by the shower lick butt destroy couch yet behind the couch. Sleep on keyboard mark territory so intently stare at the same spot so intently sniff hand, leave hair everywhere. Sweet beast hide when guests come over rub face on everything make muffins sleep on keyboard yet attack feet, sweet beast. Intently stare at the same spot give attitude use lap as chair. Leave hair everywhere stand in front of the computer screen throwup on your pillow and shake treat bag sweet beast yet stick butt in face. Run in circles sleep on keyboard intrigued by the shower nap all day. Nap all day stare at ceiling, chase imaginary bugs intrigued by the shower and inspect anything brought into the house but hide when guests come over. Stick butt in face chew iPad power cord but attack feet yet hunt anything that moves but attack feet climb leg. All of a sudden go crazy destroy couch. Use lap as chair swat at dog destroy couch yet missing until dinner time yet intently stare at the same spot for throwup on your pillow. Hunt anything that moves under the bed. Burrow under covers play time, cat snacks and mark territory sweet beast hate dog. Why must they do that leave dead animals as gifts and why must they do that yet use lap as chair. Inspect anything brought into the house intently sniff hand need to chase tail or claw drapes, or destroy couch, use lap as chair yet stick butt in face.
			</p>
		</div>
	</section>
	<section class="full-width whaticando" id="webdesign">
		<div class="sectional table-cell">
			<p> 
				Ruby on Rails
			</p>
			<p> 
				HTML5
			</p>
			<p> 
				CSS
			</p>
			<p>
				JavaScript
			</p>
		</div>
	</section>
	<section class="full-width thesethingsihathwrought" id="sampapps">
		<div class="sectional">

			 	<div class="marta-cell">
					<a href="http://marta-app.herokuapp.com" target="_blank">
						<%= image_tag('marta-icon.png', :alt => 'marta app', :class => 'metro-icon', :id => 'marta') %>	
					</a>
				</div>
				<div class="globe-cell">
					<a href="http://globeknow.herokuapp.com" target="_blank">
						<%= image_tag('globe-icon.png', :alt => 'geo quiz app', :class => 'app-icons', :id => 'globey') %>
					</a>
				</div>
			<div class="cart-cell">
				<a href="http://nile-cats.herokuapp.com" target="_blank">
					<%= image_tag('cart-icon.png', :alt => 'ecommerce app', :class => 'app-icons', :id => 'nile') %>
				</a>
			</div>

		</div>
	</section>
</div>